*{
    margin : 0;
    padding :0;
    box-sizing: border-box;
}
.hide {
    display : none;
}
html,body{
    font-family: 'Quicksand', sans-serif;
    /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
}
body{
    background-image: url('images/bg_big.jpeg');
    background-repeat: no-repeat;
}
#about h1, h2{
    /* color: #2196f3; */
    text-align: center;
}
#about .manu_text{
    color: #f44336;
    /* background: -webkit-linear-gradient(#f33f06, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}
main >div{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main > div >section{
    flex-grow: 1;
    /* align-self: center; */
    /* width: 30vw; */
    color: #f7f7f7;
    padding-top: 25px;
}
main>div>section#weather_widget {
    background-image: linear-gradient(to top, #2196f399 0%, #9c27b03d 100%);
    width: 30vw;
    flex-grow: initial;
}
@media screen and (max-width:480px) {
    main>div>section#weather_widget {
        width:100vw;
    }
}
footer{
    text-align: center;
    color: #f7f7f7;
    font-size: 70%;
}
